# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
node_modules0
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
BUGS NA PAGINA.md
*.rar

certs/cert.pem
certs/privkey.pem
example.env
pnpm-lock.yaml
src/assets/img/teste.jpg
ssl/one1print.ddns.net.zip
ssl/itemssll/privkey1.pem
ssl/itemssll/fullchain1.pem
ssl/itemssll/chain1.pem
ssl/itemssll/cert1.pem
ssl/itemssll.zip
ssl/one1print.ddns.net/one1print.ddns.net/cert.pem
ssl/one1print.ddns.net/one1print.ddns.net/chain.pem
ssl/one1print.ddns.net/one1print.ddns.net/fullchain.pem
ssl/one1print.ddns.net/one1print.ddns.net/privkey.pem
ssl/one1print.ddns.net/one1print.ddns.net/README
