@charset "UTF-8";

/* Classes globais ONE1 */
.oneScroll::-webkit-scrollbar-track {
  border-radius: 10px;
}

.oneScroll::-webkit-scrollbar {
  width: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #fff;
}

.oneScroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.01);
  background-color: rgba(85, 85, 85, 0.5);
}

.oneScroll::-webkit-scrollbar-thumb:hover {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #5567ff;
  cursor: pointer;
}

/*/ FixFOO */
.fixFoo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 43px;
  background: rgba(0, 0, 0, 0.02);
  padding: 0 24px;
  border-top: 1px dashed rgba(128, 128, 128, 0.8);
  z-index: -1;
}

.fixFoo span img {
  opacity: 0.1;
  transition: 800ms ease-in-out fadeInOut infinite;
}

@keyframes fadeInOut {
  from {
    opacity: 0.1;
  }

  to {
    opacity: 1;
  }
}

.fixFoo:hover {
  background: rgba(0, 0, 0, 0.01);
  border-top: 1px dashed rgba(128, 128, 128, 0.5);
}

.fixFoo:hover span img {
  opacity: 0.3;
}

/* Final FixFOO. /*/
/* Algo para o form de cadastro //Verificar[x] Define a altura para aplicar scroll-y auto em alguns formulários */
.card-minimoH {
  min-height: 100px;
  height: auto;
  max-height: calc(100dvh - 250px);
  /*valor original 350px trocado para 250px*/
  overflow-y: auto;
}

.testinho {
  /* usada na Logo */
  transition: 2s ease-in-out;
}

.testinho:hover {
  filter: opacity(55%);
}

@media (max-width: 991.98px) {
  .fixTestinho {
    background-color: yellow !important;
  }
}

.hgt-75 {
  min-height: 75px !important;
}

small.o-size {
  font-size: 10px;
}

.efeito-lista:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.01);
}

.efeito-lista:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.02);
}

.efeito-lista:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

/* Hack Margin e Padding */
.mb0 {
  margin-bottom: 0 !important;
}

.mb0p12 {
  margin-bottom: 0 !important;
  padding: 12px !important;
}

/* Fix LABEL */
.fxLabelCheck {
  height: 20px;
  line-height: 19px;
}

.fxLabelCheck .material-icons {
  height: 20px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.3);
}

/* Botão de PAGAMENTO */
#irPagamento {
  display: none;
}

/* FIX input VALOR DO PIX */
.valuePIX {
  position: relative !important;
  padding-left: 30px !important;
}

.valuePIX:before {
  content: "R$";
  position: absolute !important;
  top: 5px !important;
  left: 10px !important;
  font-size: 15px !important;
  color: blue !important;
}

/* Hidden objeto */
.relativandoOtrem {
  position: relative;
}

.otariano {
  display: block;
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: #fff;
  outline: 1px solid rgba(204, 204, 204, 0.3);
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hidden {
  display: none !important;
}

/* Reescrevendo o estilo do botão */
.dz-button {
  padding: 25px;
  font-size: 10pt;
  background-color: white;
  color: #5567ff;
  border: none !important;
  outline: 1px dashed #5567ff;
  border-radius: 5px !important;
}

.maxHMenu {
  width: 100%;
  height: auto;
  max-height: 300px;
  overflow-y: auto;
}

/* Botões de Estatísticas da Dash do vendedor */
.btnEstatistica {
  width: 100%;
  min-height: 60px;
  height: auto;
  padding: 16px;
}

.btnEstatistica:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.02);
}

.btnEstatistica.active {
  background-color: rgba(144, 238, 144, 0.5);
  border-left: 3px solid rgb(94, 161, 94);
}

.btnEstatistica.active:hover {
  cursor: pointer;
  background-color: rgba(144, 238, 144, 0.3);
  border-left: 3px solid rgba(94, 161, 94, 0.8);
}

/* Passo a Passo LIST */
.stepper {
  position: absolute;
  top: 0px;
  left: -30px;
  width: 20px;
  height: auto;
  z-index: 5;
}

.stepper .pontoRefMarcador {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  font-size: 14px;
  background: #949494;
  color: rgba(255, 255, 255, 0.8);
  border: 2px solid white;
  outline: 2px solid rgb(211, 211, 211);
  transition: 1s ease-in-out;
  z-index: 2;
}

.stepper .pontoRefMarcador:hover {
  cursor: default;
  background: #5e5e5e;
  color: rgb(255, 255, 255);
  border: 2px solid white;
  outline: 2px solid rgb(184, 184, 184);
}

.stepper .pontoRefMarcador.active {
  cursor: pointer;
  background: #5567ff;
  color: rgb(255, 255, 255);
  border: 2px solid white;
  outline: 2px solid #5567ff;
}

.stepper .pontoRefMarcador.preenchido {
  position: relative;
  cursor: pointer;
  background: #585fa5;
  color: rgb(255, 255, 255);
  border: 2px solid white;
  outline: 2px solid #5567ff;
}

.stepper .pontoRefMarcador.preenchido:hover {
  background: #5e5e5e;
  color: rgb(255, 255, 255);
  border: 2px solid white;
  outline: 2px solid rgb(184, 184, 184);
}

.stepper .pontoRefMarcador.preenchido:hover:before {
  content: "🤡";
  position: absolute;
  top: -2px;
  left: -2px;
}

.stepper .line {
  width: 2px;
  min-height: 30px;
  background-color: lightgrey !important;
  z-index: 1;
}

.stepper .line.preenchido {
  background-color: #5567ff !important;
}

.stepper .lead {
  font-size: 1.1rem;
}

@media (max-width: 1250px) {
  .stepper {
    display: none !important;
  }
}

/* Hack SELECT
.select2-results__option {
    display: flex!important;
        flex-direction: column!important;
    .select2-results__group {
        width: 100%;
        ul {
            text-align: left!important;
            width: 100%!important;
            &.onezinSelect {
                outline: 1px solid blue!important;
                color: blue!important;
            }
            li {
                text-align: left!important;
            }
        }
    }
}
*/
/* HR */
.oneSpace {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.03);
}

/* Imagem Item */
img.ImagemRefItem {
  margin-bottom: 12px;
  border: 1px solid light;
  border-radius: 5px;
  outline: 3px solid rgba(0, 0, 0, 0.05);
  transition: 1s ease-in-out;
}

img.ImagemRefItem:hover {
  filter: sepia(0%);
  outline: 3px solid rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

img.selectImagemRefItem {
  position: relative;
  margin: 5px;
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
  object-fit: cover;
  border: 2px solid light;
  border-radius: 5px;
  outline: 3px solid rgba(0, 0, 0, 0.05);
  filter: sepia(25%);
  transition: 300ms ease-in-out;
}

img.selectImagemRefItem:hover {
  filter: sepia(0%);
  outline: 3px solid rgba(24, 255, 3, 0.5);
  cursor: pointer;
}

img.selectImagemRefItem.ativa {
  filter: sepia(0%);
  border: 2px dashed white;
  outline: 3px solid #5567ff;
  cursor: pointer;
}

.naoTemImg {
  display: none !important;
}

/* Expedição - modal detalhes (Informações sobre anexo selecionado) */
.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2px 10px;
  padding-right: 0;
}

.right .selecioneUmAnexoPrimeiro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.02);
  font-size: 50pt;
  padding-bottom: 150px;
  border: 10px solid rgba(255, 255, 255, 0.6);
  outline: 1px dashed rgba(128, 128, 128, 0.1);
  pointer-events: none;
  animation: chamandoAtencaoSemSerChato 3000ms infinite;
}

.right .selecioneUmAnexoPrimeiro:before {
  content: "SELECIONE UM ANEXO AO LADO";
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #959595;
  font-size: 20pt;
}

.right .selecioneUmAnexoPrimeiro:after {
  content: "PRÉ-VISUALIZE INFORMAÇÕES DOS ANEXOS";
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: calc(50% + 15px);
  left: 0;
  width: 100%;
  height: 30px;
  color: #b5b5b5;
  font-size: 16pt;
}

@keyframes chamandoAtencaoSemSerChato {

  100%,
  0% {
    background-color: rgba(0, 0, 0, 0.02);
    border: 10px solid rgba(255, 255, 255, 0.6);
    outline: 1px dashed rgba(128, 128, 128, 0.1);
  }

  50% {
    background-color: rgba(0, 0, 0, 0.03);
    color: rgba(0, 0, 0, 0.5);
    border: 10px solid rgba(255, 255, 255, 0.4);
    outline: 1px dashed rgba(128, 128, 128, 0.2);
  }
}

.right .contentLupa {
  position: relative;
  width: 100%;
  height: 400px;
}

.right .contentLupa .lupa {
  display: none;
  position: absolute;
  width: 120px;
  height: 120px;
  border: 2px dotted transparent;
  border-radius: 50%;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1) inset;
  outline: 3px solid rgba(255, 255, 255, 0.1);
  cursor: zoom-in;
  animation: scaleSaida 300ms ease-out forwards;
}

.right .contentLupa .lupa:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 120px;
  height: 120px;
  border: 2px dashed rgba(255, 255, 255, 0.662745098);
  border-radius: 50%;
  animation: rotateTest 9000ms infinite linear;
}

@keyframes rotateTest {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.right .contentLupa .lupa:hover {
  animation: scaleEntrada 300ms ease-in-out forwards;
}

@keyframes scaleEntrada {
  from {
    transform: scale(0.1);
  }

  to {
    transform: scale(1);
  }
}

@keyframes scaleSaida {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0.1);
  }
}

.right .contentLupa img#imgPrevSelecionada {
  width: 100%;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.03);
  -o-object-fit: contain;
  object-fit: contain;
  padding: 5px;
  outline: 1px dashed grey;
}

.right .contentLupa img#imgPrevSelecionada:hover {
  outline: 1px dashed #5567ff !important;
  cursor: zoom-in;
}

.right .infosAnexoSelecionado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  outline: 1px dashed rgba(128, 128, 128, 0.1);
  width: 100%;
  height: 100%;
  padding: 5px;
}

.right .infosAnexoSelecionado h5 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  width: 100%;
  height: auto;
  padding: 5px 0;
  border-bottom: 1px dashed grey;
  transition: 300ms ease-in-out;
}

.right .infosAnexoSelecionado h5:hover {
  background-color: rgba(0, 0, 0, 0.02);
  color: #5567ff;
}

.right .infosAnexoSelecionado h5:nth-last-child(1) {
  border-bottom: 1px dashed transparent;
}

.right .btArea {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 10px;
  width: 100%;
  height: 40px;
}

.right .btArea .btn {
  width: 100%;
  height: 30px;
}

/* Expedição - modal concluir */
.modal .modal-container {
  position: relative;
  height: calc(100% - 124px);
}

.modal .modal-container .contentModalConcluirExpedicao {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1px;
  /* -- */
}

.modal .modal-container .contentModalConcluirExpedicao .left {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: auto;
}

.modal .modal-container .contentModalConcluirExpedicao .left .row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.02);
  padding: 0 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.modal .modal-container .contentModalConcluirExpedicao .left .row.editLogistica {
  max-height: 164px;
  align-items: flex-start;
  height: 164px;
  padding-top: 15px;
}

.modal .modal-container .contentModalConcluirExpedicao .left .row.editLogistica .form-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.modal .modal-container .contentModalConcluirExpedicao .left .row.editLogistica .form-group.jogaPaDerecha {
  justify-content: flex-end;
}

.modal .modal-container .contentModalConcluirExpedicao .left .row.editLogistica .form-group .transportadora {
  width: 100%;
  margin-right: 10px;
}

.modal .modal-container .contentModalConcluirExpedicao .left .row.editLogistica .form-group .transportadora label {
  color: rgba(0, 0, 0, 0.5);
}

.modal .modal-container .contentModalConcluirExpedicao .left .row.editLogistica .form-group select {
  padding-right: 80px;
}

.modal .modal-container .contentModalConcluirExpedicao .left .row.editLogistica .form-group button.btn {
  width: 23%;
  height: 38px;
}

.modal .modal-container .contentModalConcluirExpedicao .left .row.editLogistica .form-group button.btn i {
  margin-right: 10px;
  opacity: 0.8;
}

.modal .modal-container .contentModalConcluirExpedicao .left .row.editLogistica .form-group button.btn:hover i {
  opacity: 1;
}

.modal .modal-container .contentModalConcluirExpedicao .left .row:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.02);
}

.modal .modal-container .contentModalConcluirExpedicao .left .row:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.01);
}

.modal .modal-container .contentModalConcluirExpedicao .left .row:hover {
  background-color: rgba(255, 209, 2, 0.05);
}

.modal .modal-container .contentModalConcluirExpedicao .left .row:hover h5.descInfo span.info.statusInfo {
  padding-right: 40px;
}

.modal .modal-container .contentModalConcluirExpedicao .left .row:hover h5.descInfo span.info.extraButao {
  padding-right: 40px;
}

.modal .modal-container .contentModalConcluirExpedicao .left .row:hover h5.descInfo span.info button.btn {
  display: flex;
}

.modal .modal-container .contentModalConcluirExpedicao .left .row h5.descInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  width: 100%;
  height: auto;
  font-weight: 200;
  cursor: default;
}

.modal .modal-container .contentModalConcluirExpedicao .left .row h5.descInfo span.info {
  position: relative;
}

.modal .modal-container .contentModalConcluirExpedicao .left .row h5.descInfo span.info.statusInfo {
  color: #5567ff;
}

.modal .modal-container .contentModalConcluirExpedicao .left .row h5.descInfo span.info button.btn {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 25px;
}

.modal .modal-container .contentModalConcluirExpedicao .right {
  min-height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden auto;
  padding-right: 3px;
}

.modal .modal-container .contentModalConcluirExpedicao .right video {
  width: 100%;
  height: 400px;
  background: rgba(0, 0, 0, 0.05);
  border: 2px solid rgb(255, 255, 255);
  transition: border-color 1s ease-in-out;
}

.modal .modal-container .contentModalConcluirExpedicao .right .areaButtonCaptura {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 175px;
  right: 40px;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 25px;
  outline: 2px solid rgb(0, 0, 0);
}

.modal .modal-container .contentModalConcluirExpedicao .right .areaButtonCaptura:after {
  content: "PRINT";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 46px;
  height: 46px;
  color: white;
  font-size: 9pt;
  font-weight: 500;
  border-radius: 23px;
  background: rgb(255, 0, 0);
  transition: 800ms ease-in-out;
}

.modal .modal-container .contentModalConcluirExpedicao .right .areaButtonCaptura:hover {
  cursor: pointer;
}

.modal .modal-container .contentModalConcluirExpedicao .right .areaButtonCaptura:hover:after {
  background: rgb(176, 1, 1);
}

.modal .modal-container .contentModalConcluirExpedicao .right .capturaPreview {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  top: 12px;
  left: 20px;
  width: calc(100% - 143px);
  height: 300px;
  background-color: orange;
  border-radius: 4px;
  outline: 2px solid rgb(0, 0, 0);
}

.modal .modal-container .contentModalConcluirExpedicao .right .capturaPreview .headerPreview {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  width: 100%;
  height: 30px;
  padding: 5px;
}

.modal .modal-container .contentModalConcluirExpedicao .right .capturaPreview .headerPreview button {
  margin: 0;
  padding: 0;
}

.modal .modal-container .contentModalConcluirExpedicao .right .capturaPreview .headerPreview button.btn {
  position: relative;
  width: 20px;
  height: 20px;
  outline: 2px solid black;
}

.modal .modal-container .contentModalConcluirExpedicao .right .capturaPreview .headerPreview:before {
  content: var(--dataHora);
  position: absolute;
  bottom: -250px;
  right: 20px;
  width: auto;
  height: auto;
  color: white;
  font-size: 16pt;
  opacity: 0.3;
}

.modal .modal-container .contentModalConcluirExpedicao .right .capturaPreview .headerPreview:after {
  content: "";
  position: absolute;
  bottom: -250px;
  left: 20px;
  width: 100px;
  height: 50px;
  background: url(../images/logo/logo_branca.svg) no-repeat;
  background-size: contain;
  opacity: 0.3;
}

.modal .modal-container .contentModalConcluirExpedicao .right .form-group {
  width: 100%;
  height: auto;
}

.modal .modal-container .contentModalConcluirExpedicao .right .form-group label {
  margin-bottom: 0;
  color: rgba(128, 128, 128, 0.5);
}

.modal .modal-container .contentModalConcluirExpedicao .right .form-group input[type=text] {
  border: none;
  border-radius: 0;
  outline: none;
}

.modal .modal-container .contentModalConcluirExpedicao .right .form-group input[type=text]:focus {
  box-shadow: inset 0 1px 1px rgba(39, 44, 51, 0.075), 0 0 0 1px #9a9a9a;
}

.modal .modal-container .contentModalConcluirExpedicao .right .infosDisplayCaptura {
  width: 100%;
  height: auto;
}

.modal .modal-container .modalConcluirFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  bottom: 0;
  width: 100%;
  height: 60px;
  border-top: 1px dotted rgba(0, 0, 0, 0.05);
}

/* Produção - Tela visão geral */
.painelSetorial {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  width: 100%;
  min-height: 50px;
  height: 100px;
  outline: 1px solid rgba(0, 0, 0, 0.1);
}

.painelSetorial .divDuMei {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  max-width: 400px;
  height: 100%;
}

.painelSetorial .divDuMei .gCarrossel {
  width: 100%;
  height: auto;
}

.painelSetorial .divDuMei .gCarrossel .js-mdk-carousel .carousel-control-next .carousel-control-icon {
  width: 30px;
  height: 30px;
  color: rgba(73, 73, 73, 0.7);
  background-color: rgba(238, 238, 238, 0.5);
  outline: 3px solid rgba(73, 73, 73, 0.1);
  transition: 1s ease-in-out;
}

.painelSetorial .divDuMei .gCarrossel .js-mdk-carousel .carousel-control-next .carousel-control-icon:hover {
  cursor: pointer;
  color: rgba(73, 73, 73, 0.9);
  background-color: rgba(238, 238, 238, 0.2);
  outline: 3px solid rgba(73, 73, 73, 0.03);
}

.painelSetorial .divDuMei .gCarrossel .js-mdk-carousel .carousel-control-next .carousel-control-icon:hover:before {
  content: "";
  padding-left: 3px;
}

.painelSetorial .divDuMei .gCarrossel .mdk-carousel__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 0 auto;
  width: 100%;
  min-height: 70px;
  height: auto;
}

.painelSetorial .divDuMei .gCarrossel .mdk-carousel__content .colOneSection {
  position: relative;
  width: 70px;
  height: 100%;
  margin-left: 1px;
  transition: 2s ease-in-out !important;
}

.painelSetorial .divDuMei .gCarrossel .mdk-carousel__content .colOneSection:nth-child(1n+1):before {
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  left: 35px;
  width: 70px;
  height: 4px;
  background-color: #303956;
  z-index: -1;
}

.painelSetorial .divDuMei .gCarrossel .mdk-carousel__content .colOneSection:nth-child(1n+1):after {
  content: "";
  position: absolute;
  top: -5px;
  left: 7px;
  width: 50px;
  height: 50px;
  background-color: #303956;
  border-radius: 60px;
  outline: 3px solid rgba(0, 0, 0, 0.09);
  z-index: -2;
}

.painelSetorial .divDuMei .gCarrossel .mdk-carousel__content .colOneSection:nth-child(1n+1) .media {
  position: relative;
}

.painelSetorial .divDuMei .gCarrossel .mdk-carousel__content .colOneSection:nth-child(1n+1) .media:before {
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  left: 35px;
  width: 70px;
  height: 4px;
  background-color: rgb(207, 207, 207);
  outline: 3px solid rgba(0, 0, 0, 0.09);
  z-index: -2;
}

.painelSetorial .divDuMei .gCarrossel .mdk-carousel__content .colOneSection:nth-last-child(1):before {
  content: "";
  display: none;
  z-index: -1;
}

.painelSetorial .divDuMei .gCarrossel .mdk-carousel__content .colOneSection:nth-last-child(1) .media {
  position: relative;
}

.painelSetorial .divDuMei .gCarrossel .mdk-carousel__content .colOneSection:nth-last-child(1) .media:before {
  display: none;
}

.painelSetorial .divDuMei .gCarrossel .mdk-carousel__content .colOneSection:hover:nth-child(1n+1) .media {
  position: relative;
}

.painelSetorial .divDuMei .gCarrossel .mdk-carousel__content .colOneSection:hover:nth-child(1n+1) .media:before {
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  left: 35px;
  width: 70px;
  height: 4px;
  background-color: #303956;
  outline: 3px solid rgba(0, 0, 0, 0.09);
  z-index: -2;
}

.painelSetorial .divDuMei .gCarrossel .mdk-carousel__content .colOneSection:hover:nth-child(1n+1) .media .media-left a span {
  transition: 1s ease-in-out;
  background: rgb(255, 255, 255);
  background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(230, 230, 230) 100%);
  color: black;
}

.painelSetorial .divDuMei .gCarrossel .mdk-carousel__content .colOneSection:hover:nth-last-child(1):before {
  content: "";
  display: none;
  z-index: -1;
}

.painelSetorial .divDuMei .gCarrossel .mdk-carousel__content .colOneSection:hover:nth-last-child(1) .media {
  position: relative;
}

.painelSetorial .divDuMei .gCarrossel .mdk-carousel__content .colOneSection:hover:nth-last-child(1) .media:before {
  display: none;
}

.painelSetorial .divDuMei .gCarrossel .mdk-carousel__content .colOneSection.active:nth-child(1n+1):before {
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  left: 35px;
  width: 70px;
  height: 4px;
  background: rgb(85, 103, 255);
  background: linear-gradient(90deg, rgb(85, 103, 255) 30%, #303956 65%);
  z-index: -1;
}

.painelSetorial .divDuMei .gCarrossel .mdk-carousel__content .colOneSection.active:nth-child(1n+1):after {
  content: "";
  position: absolute;
  top: -5px;
  left: 7px;
  width: 50px;
  height: 50px;
  background-color: #5567ff;
  border-radius: 60px;
  outline: 3px solid rgba(0, 0, 0, 0.09);
  z-index: -2;
}

.painelSetorial .divDuMei .gCarrossel .mdk-carousel__content .colOneSection.active:nth-child(1n+1) .media {
  position: relative;
}

.painelSetorial .divDuMei .gCarrossel .mdk-carousel__content .colOneSection.active:nth-child(1n+1) .media:before {
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  left: 35px;
  width: 70px;
  height: 4px;
  background-color: #303956;
  outline: 3px solid rgba(0, 0, 0, 0.09);
  z-index: -2;
}

.painelSetorial .divDuMei .gCarrossel .mdk-carousel__content .colOneSection.active:nth-child(1n+1) .media .media-left a span {
  background: rgb(255, 255, 255);
  background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(230, 230, 230) 100%);
  color: rgb(85, 103, 255);
}

.painelSetorial .divDuMei .gCarrossel .mdk-carousel__content .colOneSection.active:nth-last-child(1):before {
  content: "";
  display: none;
  z-index: -1;
}

.painelSetorial .divDuMei .gCarrossel .mdk-carousel__content .colOneSection.active:nth-last-child(1) .media {
  position: relative;
}

.painelSetorial .divDuMei .gCarrossel .mdk-carousel__content .colOneSection.active:nth-last-child(1) .media:before {
  display: none;
}

.painelSetorial .divDuMei .gCarrossel .mdk-carousel__content .colOneSection.full:nth-child(1n+1):before {
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  left: 35px;
  width: 70px;
  height: 4px;
  background: rgb(85, 103, 255);
  background: linear-gradient(90deg, rgb(85, 103, 255) 30%, rgb(85, 103, 255) 65%);
  z-index: -1;
}

.painelSetorial .divDuMei .gCarrossel .mdk-carousel__content .colOneSection.full:nth-child(1n+1):after {
  content: "";
  position: absolute;
  top: -5px;
  left: 7px;
  width: 50px;
  height: 50px;
  background-color: #5567ff;
  border-radius: 60px;
  outline: 3px solid rgba(0, 0, 0, 0.09);
  z-index: -2;
}

.painelSetorial .divDuMei .gCarrossel .mdk-carousel__content .colOneSection.full:nth-child(1n+1) .media {
  position: relative;
}

.painelSetorial .divDuMei .gCarrossel .mdk-carousel__content .colOneSection.full:nth-child(1n+1) .media:before {
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  left: 35px;
  width: 70px;
  height: 4px;
  background-color: rgb(0, 0, 0);
  outline: 3px solid rgba(0, 0, 0, 0.09);
  z-index: -2;
}

.painelSetorial .divDuMei .gCarrossel .mdk-carousel__content .colOneSection.full:nth-child(1n+1) .media .media-left a span {
  background: rgb(255, 255, 255);
  background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(230, 230, 230) 100%);
  color: #2c3583;
}

.painelSetorial .divDuMei .gCarrossel .mdk-carousel__content .colOneSection.full:nth-last-child(1):before {
  content: "";
  display: none;
  z-index: -1;
}

.painelSetorial .divDuMei .gCarrossel .mdk-carousel__content .colOneSection.full:nth-last-child(1) .media {
  position: relative;
}

.painelSetorial .divDuMei .gCarrossel .mdk-carousel__content .colOneSection.full:nth-last-child(1) .media:before {
  display: none;
}

.painelSetorial .divDuMei .gCarrossel .mdk-carousel__content .colOneSection .media .media-left a span {
  border: 2px solid white;
  outline: 2px solid rgba(0, 0, 0, 0.3);
}

.painelSetorial .divOrder .reOrder .divReOrder i {
  transition: 1s ease-in-out;
}

.painelSetorial .divOrder .reOrder .divReOrder i:hover {
  color: #5567ff;
  cursor: pointer;
}

.painelSetorial .divOrder .reOrder .divReOrder.active i {
  color: #5567ff;
}

.painelSetorial .divOrder .reOrder .divReOrder.active:hover i {
  color: #2c3583;
  cursor: pointer;
}

.painelSetorial .divOrder .reOrder .divDate i {
  transition: 1s ease-in-out;
}

.painelSetorial .divOrder .reOrder .divDate i:hover {
  color: #5567ff;
  cursor: pointer;
}

.painelSetorial .divOrder .reOrder .divDate.active i {
  color: #5567ff;
}

.painelSetorial .divOrder .reOrder .divDate.active:hover i {
  color: #2c3583;
  cursor: pointer;
}

.fixGapMaisQ5 img:nth-child(1n+6) {
  margin-top: 10px;
}

ul.processosMinimizados {
  position: relative;
  gap: 10px;
  list-style: none;
}

ul.processosMinimizados li.processoEtapa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  color: #5e5e5e;
  outline: 3px solid rgb(151, 151, 151);
  transition: 1s ease-in-out;
  z-index: 1;
}

ul.processosMinimizados li.processoEtapa:before {
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  left: 30px;
  width: 10px;
  height: 4px;
  background-color: rgb(151, 151, 151);
  z-index: -1;
}

ul.processosMinimizados li.processoEtapa:nth-last-child(1):before {
  display: none;
}

ul.processosMinimizados li.processoEtapa:hover {
  color: rgb(41, 50, 129);
  outline: 3px solid rgb(85, 103, 255);
}

ul.processosMinimizados li.processoEtapa.active {
  color: rgb(85, 103, 255);
  outline: 3px solid rgb(85, 103, 255);
}

ul.processosMinimizados li.processoEtapa.active:hover {
  color: rgb(41, 50, 129);
  outline: 3px solid rgb(41, 50, 129);
}

ul.processosMinimizados li.processoEtapa.full {
  color: rgb(41, 50, 129);
  outline: 3px solid rgb(85, 103, 255);
}

ul.processosMinimizados li.processoEtapa.full:before {
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  left: 30px;
  width: 10px;
  height: 4px;
  background-color: rgb(85, 103, 255);
  z-index: -1;
}

ul.processosMinimizados li.processoEtapa.full:nth-last-child(1):before {
  display: none;
}

.wtDetalhes {
  background: rgba(223, 182, 4, 0.1) !important;
  border-left: 5px solid rgb(223, 182, 4);
}

/** Financeiro **/
.typPgmtPointer {
  cursor: pointer;
  transition: 2s ease-in-out;
}

.typPgmtPointer:hover {
  filter: opacity(50%);
  cursor: pointer;
}

.h-50p {
  line-height: 50px;
  height: 50px;
}

.border-bottom-dashed {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.05);
}

/** FR ~Bandeiras extrs **/
i.one {
  min-width: 20px;
  min-height: 20px;
}

i.one.wh-20 {
  max-width: 20px;
  max-height: 20px;
}

i.one.one-elo {
  background: url(../images/svg/elo.svg);
  background-size: contain;
}

i.one.one-elo.text-secondary {
  opacity: 0.6;
}

i.one.one-pix {
  background: url(../images/svg/pix.svg);
  background-size: contain;
}

i.one.one-pix.text-secondary {
  opacity: 0.6;
}

/** fix focus para o Input Merge na Modal branca **/
.fixFocus:focus {
  border-top-left-radius: 0;
  border-top-right-radius: 3px !important;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 3px !important;
  outline: 1px solid #5567ff !important;
}

.efeito-lista {
  td {
    padding-right: 10px !important;
    border-right: 1px dashed rgba(165, 165, 165, 0.4);
    box-shadow: 1px 0 0 white, -1px 0 0 white inset;

    &:nth-child(1) {
      padding-right: 0px !important;
      box-shadow: 1px 0 0 transparent, -1px 0 0 transparent inset;
      border-right: 0;

      &:has(.custom-checkbox) {
        padding-left: 20px;
        padding-right: 0;
      }
    }

    &:nth-last-child(1) {
      padding-left: 10px !important;
      border-right: 0;
    }
  }

  &:nth-child(1) {
    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2) !important;
  }

  &:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.01);
  }

  &:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.02);
  }

  &:hover {
    background-color: rgba(0, 0, 0, .1) !important;

    td {
      &:hover {
        background-color: rgba(0, 0, 0, 0.02) !important;
      }
    }
  }

  &.wtDetalhes1 {
    background: rgba(223, 182, 4, .10) !important;
    box-shadow: 5px 0 0 rgb(223, 182, 4) inset;

    td {
      border-right: 1px dashed rgba(165, 165, 165, 0.3) !important;
      box-shadow: 1px 0 0 rgb(223, 182, 4, 0.05), -1px 0 0 rgba(223, 182, 4, 0.05) inset;

      &:nth-child(1) {
        padding-right: 0px !important;
        box-shadow: 1px 0 0 transparent, -1px 0 0 transparent inset;
        border-right: 0 !important;

        &:has(.custom-checkbox) {
          padding-left: 20px;
          padding-right: 0 !important;
          box-shadow: 5px 0 0 rgb(223, 182, 4) inset;
        }
      }
    }
  }

  &.groupPedidos {
    /* position: relative; */
    width: 100%;
    height: auto;
    background: rgb(94, 161, 94);

    td {
      color: white;
      font-size: 13pt;
      text-align: center;
      text-shadow: 0 0 3px rgba(0, 0, 0, .8);

      &:before {
        content: '▼';
        position: absolute;
        left: 10px;
        color: rgb(116, 192, 116);
        text-shadow: 0 0 1px rgba(94, 161, 94, 1);
      }

      &:after {
        content: '▼';
        position: absolute;
        right: 10px;
        color: rgba(116, 192, 116);
        text-shadow: 0 0 1px rgba(94, 161, 94, 1);
      }

      &:hover {
        background: rgb(99, 169, 99) !important;
      }
    }
  }
}

/*# sourceMappingURL=global-ONE_gr.css.map */